{
  "presets": [
     [
       "@babel/preset-env", {
         "targets": {
           "chrome": "78"
         }
       }
     ],
     "@babel/preset-react"
  ],
  "plugins": [
    ["react-css-modules", {
      "webpackHotModuleReloading": true
    }]
  ]
}
