html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app > *:nth-child(1) {
  flex: 0 0 auto;
}

.app > *:nth-child(2) {
  flex: 1 0 20px;
  overflow: hidden;
}
