.tools > div {
  display: inline-block;
  cursor: pointer;
  padding: 0 2px;
  margin: 2px;
  border: solid 1px #999;
  border-radius: 3px;
  color: #999;
}

.tools > .active {
  border: solid 1px orange;
  color: orange;
}
